@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #666;
}

h1{
    color: #fff;
}

.screen{
    width: 60%;
    background-color: #000 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.controls{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn{
    margin: 2px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

#play{
    color: #28a745;
}

#stop{
    color: #dc3545;
}

#pause{
    color: #fff;
}

.btn:focus{
    outline: 0;
}

.timestamp{
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}

/* Media Query */
@media (max-width: 750px){
    .screen, .controls{
        width:80%;
    }
}